version: "3.9"

services:
  server:
    build: ./server
    ports:
      - "3001:3001"
    volumes:
      - ./server:/app
    restart: always

  client:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
    depends_on:
      - server
